<ul>
    <li>
        <h1 class="h1-responsive">TRACK YOUR STREAK</h1></li>
    <li>
        <p>The easy and intuitive way to keep track yourself.</p>
    </li>

    <li>
      <div id="circle"></div>
    </li>
    <li>
        <a href="#" class="btn btn-danger btn-md"><i class="fa fa-minus"></i><span class="button-text">SUB</span></a>
        <a href="#" class="btn success-color-dark btn-md"><i class="fa fa-plus"></i><span class="button-text">ADD</span></a>
    </li>
</ul>
