<div class="card">
<div class="card-block">

    <!--Header-->
    <div class="text-xs-center">
        <h3><i class="fa fa-paper-plane"></i> Edit Goal</h3>
        <hr class="m-t-2 m-b-2">
        <!--Body-->
        <p class="bold">Wanna make some changes?</p>
        <br>
    </div>
<%= render 'form', goal: @goal %>
</div>
<!--Footer-->
    <div class="modal-footer">
        <div class="options">
            <p>Want to go back?<%= link_to 'Back', goals_path %></p>
        </div>
    </div>
</div>
